.grid {
  max-width: 1000px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  width: 200px;
  height: auto;
  float: left;
  box-sizing: border-box;
  padding: 10px;
  background-color: rgba(211,211,211, 0.5);
  border: 5px solid white;
}

.grid-item h3 {
  text-align: center;
}

.grid-item h6 {
  cursor: pointer;
}
