//- Navbar header

mixin navbar(logged, user)
    nav(class="navbar navbar-default")
        div(class="container-fluid")
            div(class="navbar-header")
                a(class="navbar-brand" href="/") Pinterest Clone
            div(class="collapse navbar-collapse")
                ul(class="nav navbar-nav navbar-right")
                    if logged
                        li
                          a(href="/" + user + "/profile" class="navbar-link") Welcome #{displayName}
                        li
                          img(src=avatar class="img-responsive")
                    else
                        li
                            a(href="/auth/twitter")
                                img(src="/images/sprite.png" style="padding-right: 5px")
                                | Sign In With Twitter
